<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="earth.hiking.background">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <application><service android:name="earth.hiking.background.HikingLocationService" android:exported="false" android:foregroundServiceType="location" /></application>
</manifest>
